extends layout 

block content 
    h1 #{title}: #{book.title}
    p #{book.summary}

    h2 Genres:

    dl
    each genre in book.genre
        dt 
            a(href=genre.url)  #{genre.name}
    hr
    
    h2 Author:

    a(href=book.author.url) #{book.author.name}


    hr
    p Do you really want to delete this Book?

    form(method='POST' action='')
        div.form-group
            input#bookid.form-control(type='hidden', name='bookid', required='true', value=book._id)

        button.btn.btn-primary(type='submit') Delete